a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset,
img {
  border: 0;
}

iframe {
  display: block;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

i,
code,
b {
  font-weight: normal;
  font-style: normal;
}

code {
  background: transparent;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 6.4rem;
  background: #efefed;
}

.footer .topShop {
  width: 100%;
  height: 0.8rem;
  font-size: 0.32rem;
  line-height: 0.8rem;
  border-top: 1px solid #ccc;
  background: #fff;
  color: #06c1af;
}

.footer .topShop p {
  width: 100%;
  height: 100%;
  display: flex;
}

.footer .topShop p strong {
  text-align: center;
  display: inline-block;
  width: 25%;
  height: 100%;
  font-weight: normal;
}

.footer .topShop p span {
  flex: 1;
  text-align: right;
}

.footer .bottomCont {
  width: 100%;
  height: 5.6rem;
}

.footer .bottomCont .p1 {
  width: 100%;
  display: flex;
  margin-top: 0.4rem;
}

.footer .bottomCont .p1 button {
  width: 1.2rem;
  height: 0.66667rem;
  margin-left: 0.26667rem;
  border: 1px solid #06c1af;
  border-radius: 0.08rem;
  background: #fff;
  outline: none;
  color: #06c1af;
}

.footer .bottomCont .p1 span {
  flex: 1;
  text-align: right;
  line-height: 0.66667rem;
  padding-right: 0.26667rem;
}

.footer .bottomCont .p1 span i {
  display: inline-block;
  width: 1.2rem;
  height: 0.66667rem;
  border: 1px solid #06c1af;
  border-radius: 0.08rem;
  background: #fff;
  text-align: center;
  color: #06c1af;
}

.footer .bottomCont ul {
  margin: 0 auto;
  width: 80%;
  display: flex;
  margin-top: 0.4rem;
}

.footer .bottomCont ul li {
  flex: 1;
  color: #06c1af;
  border-right: 1px solid #ccc;
  text-align: center;
}

.footer .bottomCont ul .qingc {
  border: none;
}

.footer .bottomCont ol {
  width: 75%;
  margin: 0 auto;
  margin-top: 0.4rem;
}

.footer .bottomCont ol li {
  color: #06c1af;
  text-align: center;
  margin-top: 0.13333rem;
}

.footer .bottomCont ol li b {
  margin-left: 10px;
}

.footer .p2 {
  width: 100%;
  display: flex;
  margin-top: 0.4rem;
}

.footer .p2 .b1 {
  width: 25%;
  border-top: 1px solid #ccc;
  margin-top: 0.26667rem;
}

.footer .p2 .b2 {
  width: 4rem;
  flex: 1;
  text-align: center;
  color: #ccc;
}
