@import "./common.scss";
.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header{
}
.main{
    flex: 1;
    overflow-y: auto;
}
.footer{
}